html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #ffffff;
    margin: 0;
    overflow: hidden;
    /* font-family: 'Press Start 2P', cursive; */
}

#infoButton {
    border-width: 0;
    cursor: pointer;
}

#message {
    color: #fff;
}

#blocker {

    position: absolute;

    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.5);

}

#loading {

    position: absolute;

    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0);

}

.loading-text {
    color: #ffffff;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
}

#instructions {

    width: 100%;
    height: 100%;

    display: -webkit-box;
    display: -moz-box;
    display: box;

    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;

    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;

    color: #ffffff;
    text-align: center;

    cursor: pointer;

}
#speed-gauge {
    min-width: 310px; 
    max-width: 400px; 
    height: 300px; 
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    transform: scale(.5);
}

.gauge-container {
    width: 100%;
    background-color: transparent;
}
.speed-container {
    min-width: 310px; 
    max-width: 400px; 
    margin: 0 auto;
    position: absolute;
    bottom: 10px;
    left: 10px;
} 
.speed-container> span {
    font-family: 'Press Start 2P', cursive;
    color: orange;
}

.sign-detail-container {
    position: absolute;
    top: 0;
    bottom : 0;
    width: 100%;
    height: 100%;
}
.sign-detail {
    width: 50%;
    margin: auto;
    display: none;
}

.turn-signals {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 250px;
    bottom: 0;
}

.turn-signals > .right-signal > span, .turn-signals > .left-signal > span {
    font-family: 'Press Start 2P', cursive;
    color: orange;
    font-size: 10px;
}

.left-signal, .right-signal {
    margin: 5px;
}

.led {
	border-radius: 50%;
	background-color: #220000;
	width: 30px;
	height: 30px;
	position: relative;
	cursor: pointer;
	margin: 20px auto;
	border: 3px solid #222;
}

.led.active {
	background-color: #AA0000;
	box-shadow: 0px 0px 10px 5px rgba(255, 0, 0, 0.4);
	border: 3px solid rgba(120, 0, 0, 1);
}

.led .hilight {
	width: 4px;
	height: 4px;
	border-radius: 50%;
	position: absolute;
	background-color: rgba(255,255,255,0.5);
	top: 7px;
	left: 7px;
	box-shadow: 3px 4px 7px 9px rgba(180, 0, 0, 0.6);
}

.led.active .hilight {
	background-color: rgba(255,255,255,1);
	box-shadow: 4px 4px 6px 7px rgba(255, 0, 0, 1);
}