html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #ffffff;
    margin: 0;
    overflow: hidden;
    font-family: arial;
}

#infoButton {
    border-width: 0;
    cursor: pointer;
}

#message {
    color: #fff;
}

#blocker {

    position: absolute;

    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.5);

}

#instructions {

    width: 100%;
    height: 100%;

    display: -webkit-box;
    display: -moz-box;
    display: box;

    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;

    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;

    color: #ffffff;
    text-align: center;

    cursor: pointer;

}
#speed-gauge {
    min-width: 310px; 
    max-width: 400px; 
    height: 300px; 
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    transform: scale(.5);
   }

   .gauge-container {
     width: 100%;
     background-color: transparent;
   }