html, body {
    width: 100%;
    height: 100%;
}
body {
    background-color: #ffffff;
    margin: 0;
    overflow: hidden;
   /* font-family: 'Press Start 2P', cursive;
    */
}
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #20292e;
}
.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-star;
    align-items: stretch;
}
.flex-center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}
.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}
.flex-column-center {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.flex-column-center-center {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
h2 {
    color: #294548;
    text-align: center;
}
.content-container {
    font-size: 1.3em;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-container .content {
    margin: 1em;
}
.content-container .content .item {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.3em;
    cursor: pointer;
    background-color: #294548;
    border: 0.1em solid #0bd7d6;
    margin-top: 0.5em;
    padding: 0.4em 0;
    min-width: 18em;
    color: #0bd7d6;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0.5em;
    transition: all 0.2s linear;
    text-decoration: none;
}
.content-container .content .item:hover {
    background-color: #0bd7d6;
    border: 0.1em solid #294548;
    color: #294548;
    box-shadow: 0 0 0.2em rgba(255, 255, 255, 0.8);
}
.eightbit-btn {
    cursor: pointer;
    background: #92CD41;
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 30px;
    padding: 20px;
    font-family: "Press Start 2P", cursive;
    text-decoration: none;
    color: white;
    box-shadow: inset -4px -4px 0px 0px #4AA52E;
}
.eightbit-btn:hover, .eightbit-btn:focus {
    background: #76c442;
    box-shadow: inset -6px -6px 0px 0px #4AA52E;
}
.eightbit-btn:active {
    box-shadow: inset 4px 4px 0px 0px #4AA52E;
}
.eightbit-btn:before, .eightbit-btn:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
}
.eightbit-btn:before {
    top: -6px;
    left: 0;
    border-top: 6px black solid;
    border-bottom: 6px black solid;
}
.eightbit-btn:after {
    left: -6px;
    top: 0;
    border-left: 6px black solid;
    border-right: 6px black solid;
}
.eightbit-btn--reset {
    background: #E76E55;
    box-shadow: inset -4px -4px 0px 0px #8C2022;
}
.eightbit-btn--reset:hover, .eightbit-btn--reset:focus {
    background: #CE372B;
    box-shadow: inset -6px -6px 0px 0px #8C2022;
}
.eightbit-btn--reset:active {
    box-shadow: inset 4px 4px 0px 0px #8C2022;
}
.eightbit-btn--proceed {
    background: #F7D51D;
    box-shadow: inset -4px -4px 0px 0px #E59400;
}
.eightbit-btn--proceed:hover, .eightbit-btn--proceed:focus {
    background: #F2C409;
    box-shadow: inset -6px -6px 0px 0px #E59400;
}
.eightbit-btn--proceed:active {
    box-shadow: inset 4px 4px 0px 0px #E59400;
}
.eightbit-btn--primary {
    background: #3351a3;
    box-shadow: inset -4px -4px 0px 0px #132a68;
}
.eightbit-btn--primary:hover, .eightbit-btn--primary:focus {
    background: #244499;
    box-shadow: inset -6px -6px 0px 0px #102459;
}
.eightbit-btn--primary:active {
    box-shadow: inset 4px 4px 0px 0px #132a68;
}
hr {
    margin: 10px auto;
    max-width: 100px;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 0;
}
#infoButton {
    border-width: 0;
    cursor: pointer;
}
#blocker {
    position: absolute;
    width: 100%;
    height: 100%;
}
#loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0);
}
.loading-text {
    color: #ffffff;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
}
#instructions {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    background-color: rgba(0,0,0,0.5);
}
#speed-gauge {
    min-width: 310px;
    max-width: 400px;
    height: 300px;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    transform: scale(.5);
}
.gauge-container {
    width: 100%;
    background-color: transparent;
}
.speed-container {
    padding: 20px;
}
.speed {
    min-width: 300px;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    border: solid 4px orange;
}
.speed > span {
    font-family: 'Press Start 2P', cursive;
    color: orange;
}
.sign-detail-container {
    position: absolute;
    top: 0;
    bottom : 0;
    width: 100%;
    height: 100%;
}
.sign-detail {
    width: 50%;
    margin: auto;
    display: none;
}
.turn-signals {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: center;
}
.turn-signals > .right-signal > span, 
.turn-signals > .left-signal > span, 
.turn-signals > .headlight > span,
.turn-signals > .horn > span {
    font-family: 'Press Start 2P', cursive;
    color: orange;
    font-size: 10px;
}
.left-signal, .right-signal, .headlight, .horn {
    margin: 5px;
}
.led {
    border-radius: 50%;
    background-color: #220000;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
    margin: 20px auto;
    border: 3px solid #222;
}
.led.active {
    background-color: #AA0000;
    box-shadow: 0px 0px 10px 5px rgba(255, 0, 0, 0.4);
    border: 3px solid rgba(120, 0, 0, 1);
}
.led.yellow.active {
    background-color:yellow;
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 0, 0.4);
    border: 3px solid rgb(156, 145, 43);
}
.led > .hilight {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    position: absolute;
    background-color: rgba(255,255,255,0.5);
    top: 7px;
    left: 7px;
    box-shadow: 3px 4px 7px 9px rgba(180, 0, 0, 0.6);
}
.led.yellow > .hilight {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    position: absolute;
    background-color: rgba(255,255,255,0.5);
    top: 7px;
    left: 7px;
    box-shadow: 3px 4px 7px 9px rgba(212, 183, 16, 0.6);
}
.led.active > .hilight {
    background-color: rgba(255,255,255,1);
    box-shadow: 4px 4px 6px 7px rgba(255, 0, 0, 1);
}
.led.yellow.active > .hilight {
    background-color: rgba(255,255,255,1);
    box-shadow: 4px 4px 6px 7px rgba(255, 255, 0, 1);
}

.center-div {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#game-menu {
  width: 50vw;
  height: 50vh;
  background-color: cornflowerblue;
  padding: 20px;
  text-decoration: none;
  color: white;
  border: 6px black solid;
}

.menu-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

#controllers {
    display: none;
}

.dialog {
    display: none;
    width: 50vw;
    /* height: 50vh; */
    /* height: 188px; */
    height: 250px;
}
.dialog-content {
    padding: 20px;
    background-color: cornflowerblue;
    width: 100%;
    height: 100%;
    /* height: fit-content;
    height: -moz-fit-content; */
    text-decoration: none;
    color: white;
    border: 6px black solid;
}

.dialog-content > .question {
    padding: 20px;
    margin-bottom: 20px;
}

.dialog-content > .question > span {
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
    color: #fff;
}

.dialog-content > .input-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.dialog-content > .input-box > label {
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
    color: #fff;
}
.dialog-content > .input-box > input {
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
    /* width: 100%; */
    border: 6px black solid;
    padding: 20px;
}

.lesson-container {
    visibility: hidden; 
    height: 0; 
    background-color: white; 
    width: 100%; 
    border: 6px black solid; 
    position: relative;
}

.lesson-container > .lesson-list {
    width: 500px; 
    display: flex; 
    min-height: 150px;
    flex-direction: column; 
    justify-content: space-around; 
    align-items: center; 
    padding-top: 50px;
    font-family: 'Press Start 2P', cursive;
}

.lesson-container > .lesson-list > a {
    padding: 10px;
    text-decoration: none;
}

.lesson-container > .lesson-list > a:hover {
    transform: scale(1.2);
}

.lesson-item {
    position: relative; display: flex; flex-direction: column; align-items: center;
    margin-bottom: 50px;
}
.lesson-item.top {
    margin-bottom: 80px;
}

.mini-map {
    /* width: 200px;
    height: 200px; */
    width: fit-content;
    width: -moz-fit-content;
    height: fit-content;
    height: -moz-fit-content;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #DCDCDC;
}
.mini-map:after {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    bottom: -3px;
    right: -3px;
    border: 1px #888 solid;
}

#player-pin {
    top: 20px;
    left: 20px;
}
.pin-holder {
    display: none;
    width: 20px;
    height: 20px;
    position: absolute;
}
  .pin-holder .map-pin {
    background-color: #0090dc;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    width: 12px;
    height: 12px;
    top: 4px;
    left: 4px;
    z-index: 20;
  }
  .pin-holder .map-pin.red {
    background-color: #f5002e;
  }
  .pin-holder .map-pin.orange {
    background-color: #ffa300;
  }
  .pin-holder .map-pin.green {
    background-color: #00893c;
  }
  .pin-holder .map-pin.blue {
    background-color: #0090dc;
  }
  .pin-holder .map-pin.gray {
    background-color: #676767;
  }
  .pin-holder .pin-pulse {
    background-color: #f5002e;
    -webkit-border-radius: 30px;
    height: 20px;
    width: 20px;
    position: absolute;
    /* left: 2px;
    top: 2px; */
    z-index: 10;
    -webkit-animation: pulsate 1.5s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0;
  }
  @-webkit-keyframes pulsate {
    0% {
      -webkit-transform: scale(0.1, 0.1);
      opacity: 0;
    }
    50% {
      opacity: 0.3;
    }
    100% {
      -webkit-transform: scale(1.5, 1.5);
      opacity: 0;
    }
  }
  .score {
      position: absolute;
      top: 10px;
      right: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
  }
  .health, .money {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .health-number, .money-number {
    font-size: 25px;
    font-family: 'Press Start 2P', cursive;
    font-weight: 600;
    margin: 0 20px;
  }

  .toast {
    border: 6px black solid;
    background-color: cornflowerblue;
    font-family: "Press Start 2P", cursive;
    border-radius: 0;    
    top: 60px;
  }

  .toast-error {
    background-color: #d9534f;
  }

  .floating-info {
      display: none;
      position: absolute;
      top: 100px;
      width: 100%;
      background-color: transparent;
      justify-content: center;
  }
  .floating-info > span {
      text-align: center;
      font-family: "Press Start 2P", cursive;
      font-size: 40px;
      color: red;
      -webkit-text-stroke: 2px #000;
          -webkit-text-stroke-width: 2px;
          -webkit-text-stroke-color: rgb(0, 0, 0);
      text-shadow:  3px 3px 0 #000, 
                    -1px -1px 0 #000, 
                    1px -1px 0 #000, 
                    -1px 1px 0 #000, 
                    1px 1px 0 #000;
  }