<!DOCTYPE html>
<html lang="en">
    <% include ../partials/head %>
<body>

    <audio loop id="music" preload="auto" style="display: none">
        <source src="/audio/noise/noise.mp3" type="audio/mpeg">
    </audio>
    <!-- Game Screen Elements -->
    <% include ../partials/sign-detail %>
    <% include ../partials/blocker %>
    <% include ../partials/controllers %>
    <% include ../partials/game-board %>
    <% include ../partials/loading %>
    
    <% include ../partials/libs %>
    <!-- File that includes Game JavaScript Libraries -->
    <% include ../partials/game-libs %>
    <!-- File that includes Game core -->
    <% include ../partials/game-core %>
    
</body>
</html>