<!DOCTYPE html>
<html lang="en">
    <% include ../partials/head %>
<body>

    <audio loop id="music" preload="auto" style="display: none">
        <source src="/audio/noise/noise.mp3" type="audio/mpeg">
    </audio>
    <!-- Game Screen Elements -->
    <% include ../partials/blocker %>
    <% include ../partials/sign-detail %>
    <% include ../partials/controllers %>
    <% include ../partials/game-board %>
    <% include ../partials/loading %>
    
    <% include ../partials/libs %>
    <!-- File that includes Game JavaScript Libraries -->
    <% include ../partials/game-libs %>
    <!-- File that includes Game core -->
    <% include ../partials/game-core %>

    <script>
        const currentChapter = <%= chapter %>;
        const levels = [
            "Biển báo cấm.",
            "Biển báo nguy hiểm",
            "Biển hiệu lệnh",
            "Điều chỉnh tốc độ phần 1",
            "Điều chỉnh tốc độ phần 2",
            "Tổng hợp mức độ cơ bản",
            "Đi đúng làn đường",
            "Vòng xuyến",
            "Thứ tự đi khi đến ngã tư",
            "Tổng hợp mức độ trung bình"
        ];
        let name = '<span>' + levels[<%= chapter %> - 1] + '</span>';
        $(".level-info").append($(name));
    </script>
    
</body>
</html>