<!DOCTYPE html>
<html lang="en">
    <% include ../partials/head %>
<body>
    <!-- Game Screen Elements -->
    <% include ../partials/sign-detail %>
    <% include ../partials/blocker %>
    <% include ../partials/controllers %>
    <% include ../partials/game-board %>
    <% include ../partials/loading %>
    
    <% include ../partials/libs %>
    <!-- File that includes Game JavaScript Libraries -->
    <% include ../partials/game-libs %>
    <!-- File that includes Game core -->
    <% include ../partials/game-core %>
    
</body>
</html>