<!DOCTYPE html>
<html lang="en">
<head>
    <title>Traffic Survivor</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link rel=stylesheet href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/blitzer/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <link rel="stylesheet" href="core/styles/style.css">
</head>

<body>

    <div class="content-container">
        <div id="game-menu" class="content flex-column-center">
            <!-- <a class="item" href="sceneone.html">City Scene</a> -->
            <button id="start-btn" style="margin-bottom: 20px;" class="eightbit-btn eightbit-btn--reset">Start</button>
            <div style="margin-bottom: 20px;" class="eightbit-btn">Options</div>
            <a href="/instruction" class="eightbit-btn eightbit-btn--proceed">How to play</a>
            <!-- <div class="eightbit-btn eightbit-btn--reset">Exit</div> -->
        </div>
        <div id="login-dialog" class="center-div dialog">
            <div class="dialog-content">
                <div class="input-box">
                    <label for="username">Username:</label>
                    <input id="username" type="text">
                </div>
                <div class="input-box">
                    <label for="password">Password:</label>
                    <input id="password" type="password">
                </div>

                <div style="display: flex; justify-content: space-evenly; width: 100%;">
                    <button id="cancel-btn" class="eightbit-btn">Cancel</button>
                    <button id="ok-btn" class="eightbit-btn eightbit-btn--reset">Login</button>
                </div>
            </div>
        </div>
    </div>
    
    <% include ../partials/libs %>
    <script>
        $(document).ready(() => {
            // const database = firebase.database();
            $("#start-btn").click(() => {
                window.location.href = '/levels'; 
                // $("#login-dialog").css("display", "block");
                // $("#game-menu").css("display", "none");
            });

            $("#cancel-btn").click(() => {
                $("#login-dialog").css("display", "none");
                $("#game-menu").css("display", "flex");
            });

            $("#ok-btn").click(() => {
                // database.ref('users').push({
                //     username: $('input#username').val(),
                //     password: $('input#password').val()
                // });
                window.location.href = '/levels'; 
            });
        });
    </script>
    
</body>

</html>