<!DOCTYPE html>
<html lang="en">
<head>
    <title>Traffic Survivor</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel=stylesheet href="core/libs/jquery-ui/jquery-ui.min.css" />
    <link rel="stylesheet" href="core/libs/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="core/libs/animate/animate.min.css">
    <link rel="stylesheet" href="core/libs/toastr.js/toastr.min.css">
    <link rel="stylesheet" href="core/libs/nes_css/nes.min.css">
    <link rel="stylesheet" href="core/styles/style.css">
</head>

<body>

    <div class="content-container">
        <section id="game-menu" class="container with-title" style="display: flex; flex-direction: column; text-align: center; justify-content: center;">
            <div>
                <button id="start-btn" style="margin-bottom: 20px; width: 100%;" class="btn is-error">Bắt đầu</button>
            </div>
            <div>
                <button onclick="location.href = '/options'" style="margin-bottom: 20px; width: 100%;" class="btn is-success">Cài đặt</button>
            </div>
            <div>
                <button onclick="location.href = '/instruction'" style="width: 100%;" class="btn is-warning">Hướng dẫn</button>
            </div>
        <section>
        <div id="login-dialog" class="center-div dialog">
            <div class="dialog-content">
                <div class="input-box">
                    <label for="username">Username:</label>
                    <input id="username" type="text">
                </div>
                <div class="input-box">
                    <label for="password">Password:</label>
                    <input id="password" type="password">
                </div>

                <div style="display: flex; justify-content: space-evenly; width: 100%;">
                    <button id="cancel-btn" class="eightbit-btn">Cancel</button>
                    <button id="ok-btn" class="eightbit-btn eightbit-btn--reset">Login</button>
                </div>
            </div>
        </div>
    </div>
    
    <% include ../partials/libs %>
    <script>
        $(document).ready(() => {
            // const database = firebase.database();
            $("#start-btn").click(() => {
                window.location.href = '/levels'; 
                // $("#login-dialog").css("display", "block");
                // $("#game-menu").css("display", "none");
            });

            $("#cancel-btn").click(() => {
                $("#login-dialog").css("display", "none");
                $("#game-menu").css("display", "flex");
            });

            $("#ok-btn").click(() => {
                // database.ref('users').push({
                //     username: $('input#username').val(),
                //     password: $('input#password').val()
                // });
                window.location.href = '/levels'; 
            });
        });
    </script>
    
</body>

</html>