<!DOCTYPE html>
<html lang="en">

<head>
    <title>Instruction</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link rel=stylesheet href="core/libs/jquery-ui/jquery-ui.min.css" />
    <link rel="stylesheet" href="core/libs/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="core/libs/animate/animate.min.css">
    <link rel="stylesheet" href="core/libs/toastr.js/toastr.min.css">
    <link rel="stylesheet" href="core/libs/nes_css/nes.min.css">
    <link rel="stylesheet" href="core/styles/info.css">
    <link rel="stylesheet" href="core/styles/style.css">
</head>

<body>

    <div class="content-container">
        <div class="content flex-column-center">
            <div id="instructions">
                <table>
                        <tr>
                            <td class="key-name"><span>W/Up</span></td>
                            <td class="key-definition"><span>Move Forward</span></td>
                        </tr> 
                        <tr>
                            <td class="key-name"><span>A/Left</span></td>
                            <td class="key-definition"><span>Rotate Left</span></td>
                        <tr>
                            <td class="key-name"><span>D/Right</span></td>
                            <td class="key-definition"><span>Rotate Right</span></td>
                        </tr>
                        <tr>
                            <td class="key-name"><span>Z</span></td>
                            <td class="key-definition"><span>Keep Moving Forward</span></td>
                        </tr>
                        <tr>
                            <td class="key-name"><span>X</span></td>
                            <td class="key-definition"><span>Stop Moving</span></td>
                        </tr>
                        <tr>
                            <td class="key-name"><span>Shift</span></td>
                            <td class="key-definition"><span>Accelerate</span></td>
                        </tr>
                    </table>
            </div>
            <button class="eightbit-btn eightbit-btn--primary" onclick="javascript:history.back()">Back</button>
        </div>
    </div>

    <% include ../partials/libs %>
</body>

</html>