<!DOCTYPE html>
<html lang="en">

<head>
    <title>Levels</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link rel=stylesheet href="core/libs/jquery-ui/jquery-ui.min.css" />
    <link rel="stylesheet" href="core/libs/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="core/libs/animate/animate.min.css">
    <link rel="stylesheet" href="core/libs/toastr.js/toastr.min.css">
    <link rel="stylesheet" href="core/libs/nes_css/nes.min.css">
    <link rel="stylesheet" href="core/styles/info.css">
    <link rel="stylesheet" href="core/styles/style.css">
</head>

<body>

    <div class="content-container">
        <div class="content flex-column-center">
            <div class="lesson-item top">
                <div class="lesson-container">
                    <div class="lesson-list" id="level-easy">
                    </div>
                </div>
                <button style="top: -30px; position: absolute;" class="btn is-warning level-button">Cấp độ dễ</button>
            </div>
            <div class="lesson-item">
                <div class="lesson-container">
                    <div class="lesson-list" id="level-medium">
                    </div>
                </div>
                <button style="top: -30px; position: absolute;" class="btn is-error level-button">Cấp độ trung bình</button>
            </div>
            <button class="btn" onclick="javascript:history.back()">Trở về</button>
        </div>
    </div>

    <% include ../partials/libs %>
    <script>
        $(".level-button").click(function () {
            var $target = $(this).closest("div").find(".lesson-container");
            if ($target.css("visibility") === "hidden") {
                $(".lesson-container").css("visibility", "hidden");
                $(".lesson-container").css("height", 0);
                $target.css("visibility", "visible");
                $target.css("height", "fit-content");
                $target.css("height", "-moz-fit-content");
            }
            else {
                $target.css("visibility", "hidden");
                $target.css("height", 0);
            }
        });
        const levels = [
            "Biển báo cấm.",
            "Biển báo nguy hiểm",
            "Biển hiệu lệnh",
            "Điều chỉnh tốc độ phần 1",
            "Điều chỉnh tốc độ phần 2",
            "Tổng hợp mức độ cơ bản",
            "Đi đúng làn đường",
            "Vòng xuyến",
            "Thứ tự đi khi đến ngã tư",
            "Tổng hợp mức độ trung bình"
        ];

        var passedLessons = localStorage.getObject("passedLessons") ? localStorage.getObject("passedLessons") : [];

        var element1 = "";
        for (var i = 1; i <= 5; i++) { 
            let isPassed = passedLessons.includes(i);
            element1 += "<a " + (isPassed ? "style='color: black;'" : "") + " href='/game?level=easy&chapter=" + i + "'>Bài " + i + ": " + levels[i - 1] + (isPassed ? "<span style='font-size: 30px; color: red;'>✔</span>" : "") + "</a>"
        } 
        $("#level-easy").append($(element1));
        var element2 = "";
        for (var j = 6; j <= 10; j++) { 
            let isPassed = passedLessons.includes(j);
            element2 += "<a " + (isPassed ? "style='color: black;'" : "") + " href='/game?level=easy&chapter=" + j + "'>Bài " + j + ": " + levels[j - 1] + (isPassed ? "<span style='font-size: 30px; color: red;'>✔</span>" : "") + "</a>"
        }
        $("#level-medium").append($(element2));


    </script>
</body>

</html>