<!DOCTYPE html>
<html lang="en">

<head>
    <title>Levels</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel=stylesheet href="core/libs/jquery-ui/jquery-ui.min.css" />
    <link rel="stylesheet" href="core/libs/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="core/libs/animate/animate.min.css">
    <link rel="stylesheet" href="core/libs/toastr.js/toastr.min.css">
    <link rel="stylesheet" href="core/libs/nes_css/nes.min.css">
    <link rel="stylesheet" href="core/styles/info.css">
    <link rel="stylesheet" href="core/styles/style.css">
</head>

<body>
    
    <div class="content-container">
        <div class="content level-detail-list">
            <button data-target="#level-easy" class="clip menu-button level-button">Cấp độ dễ</button>
            <button data-target="#level-medium" class="clip menu-button level-button">Cấp độ trung bình</button>
            <button class="clip menu-button" onclick="javascript:history.back()">Trở về</button>
        </div>
    </div>
    <div class="content-container level-details" id="level-easy">
        <div style="postion: relative;">
            <div class="level-container">
                
            </div>
            <button class="clip menu-button back-level">Trở về</button>
        </div>
    </div>
    <div class="content-container level-details" id="level-medium">
        <div style="postion: relative;">
            <div class="level-container">
                
            </div>
            <button class="clip menu-button back-level">Trở về</button>
        </div>
    </div>

    <% include ../partials/libs %>
    <script>
            
    const levels = [
        "Biển báo cấm.",
        "Biển báo nguy hiểm",
        "Biển hiệu lệnh",
        "Điều chỉnh tốc độ phần 1",
        "Điều chỉnh tốc độ phần 2",
        "Tổng hợp mức độ cơ bản",
        "Đi đúng làn đường",
        "Vòng xuyến",
        "Thứ tự đi khi đến ngã tư",
        "Tổng hợp mức độ trung bình"
    ];

    var passedLessons = localStorage.getObject("passedLessons") ? localStorage.getObject("passedLessons") : [];
    var learningLessons = localStorage.getObject("learningLessons") ? localStorage.getObject("learningLessons") : [];

    var element1 = "";
    for (var i = 1; i <= 5; i++) { 
        let tick = "";
        let isPassed = passedLessons.includes(i);
        let isLearning = learningLessons.includes(i);
        if(isPassed) {
            tick = "<span style='font-size: 20px; color: green; margin-left: 5px;'>✔</span>";
        }
        else if (isLearning) {
            tick = "<span style='font-size: 20px; color: red; margin-left: 5px;'>✘</span>";
        }

        let lhref = "location.href='/game?level=easy&chapter=" + i + "'";
        element1 += "<button class='clip menu-button' " + (isPassed ? "style='color: white;'" : "") + " onclick=" + lhref + ">Bài " + i + ": " + levels[i - 1] + tick + "</button>"
    } 
    $("#level-easy .level-container").append($(element1));
    var element2 = "";
    for (var j = 6; j <= 10; j++) { 
        let tick = "";
        let isPassed = passedLessons.includes(j);
        let isLearning = learningLessons.includes(j);
        if(isPassed) {
            tick = "<span style='font-size: 30px; color: green; margin-left: 5px;'>✔</span>";
        }
        else if (isLearning){
            tick = "<span style='font-size: 30px; color: red; margin-left: 5px;'>✘</span>";
        }
        let lhref = "location.href='/game?level=medium&chapter=" + j + "'";
        element2 += "<button class='clip menu-button' " + (isPassed ? "style='color: white;'" : "") + " onclick=" + lhref + ">Bài " + j + ": " + levels[j - 1] + tick + "</button>"
    }
    $("#level-medium .level-container").append($(element2));
    
    $(".level-button").click((event) => {
        let id = $(event.target).data("target");
        $(id).css("display", "flex");
        $(".level-detail-list").hide();
    });

    $(".back-level").click((event) => {
        let id = $(event.target).closest(".level-details").hide();
        $(".level-detail-list").css("display", "block");
    });

    </script>
</body>

</html>