<!DOCTYPE html>
<html lang="en">

<head>
    <title>Cài đặt</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel=stylesheet href="core/libs/jquery-ui/jquery-ui.min.css" />
    <link rel="stylesheet" href="core/libs/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="core/libs/animate/animate.min.css">
    <link rel="stylesheet" href="core/libs/toastr.js/toastr.min.css">
    <link rel="stylesheet" href="core/libs/nes_css/nes.min.css">
    <link rel="stylesheet" href="core/styles/info.css">
    <link rel="stylesheet" href="core/styles/style.css">
</head>

<body>

    <div class="content-container">
            <div id="options" style="postion: relative;">
                <section class="container with-title is-rounded" style="width: 40vw; border: 4px black solid; background-color: white; padding: 20px;">
                    <h2 class="title" style="border: 4px black solid;">Cài đặt</h2>
                    <div class="containers">
                        <div class="container is-rounded" style="display: flex; flex-direction: column;">
                            <label for="fullscreenChkbox">
                                <input type="checkbox" class="checkbox option-checkbox" id="fullscreenChkbox">
                                <span style="font-size: 20px;">Full Screen</span>
                            </label>
                            <label for="sfxChkbox">
                                <input type="checkbox" class="checkbox option-checkbox" id="sfxChkbox">
                                <span style="font-size: 20px;">SFX</span>
                            </label>
                            <label for="musicChkbox">
                                <input type="checkbox" class="checkbox option-checkbox" id="musicChkbox">
                                <span style="font-size: 20px;">Music</span>
                            </label>
                        </div>
                    </div>
                    <div style="bottom: -30px;width: 100%;position: absolute;left: 0;display: flex;justify-content: space-evenly;">
                        <button style="" type="button" class="btn is-primary" onclick="location.href = '/'">Trở về</button>
                    </div>
                </section>
            </div>
    </div>

    <% include ../partials/libs %>
    <script>

    var options = localStorage.getObject("options") ? localStorage.getObject("options") : {};

    $(".option-checkbox").change(function () {
        let optionValue = $(this).prop("checked");
        let optionKey = $(this).attr("id");
        let temp = {};
        temp[optionKey] = optionValue
        Object.assign(options, temp);
        localStorage.setObject("options", options);
    });

    if(options) {
        if(options.hasOwnProperty("fullscreenChkbox") && options["fullscreenChkbox"]) {
            $("#fullscreenChkbox").prop("checked", true);
        }
        if(options.hasOwnProperty("sfxChkbox") && options["sfxChkbox"]) {
            $("#sfxChkbox").prop("checked", true);
        }
        if(options.hasOwnProperty("musicChkbox") && options["musicChkbox"]) {
            $("#musicChkbox").prop("checked", true);
        }
    }

    </script>
</body>

</html>
