<!DOCTYPE html>
<html lang="en">

<head>
    <title>Options</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link rel=stylesheet href="core/libs/jquery-ui/jquery-ui.min.css" />
    <link rel="stylesheet" href="core/libs/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="core/libs/animate/animate.min.css">
    <link rel="stylesheet" href="core/libs/toastr.js/toastr.min.css">
    <link rel="stylesheet" href="core/libs/nes_css/nes.min.css">
    <link rel="stylesheet" href="core/styles/info.css">
    <link rel="stylesheet" href="core/styles/style.css">
</head>

<body>

    <div class="content-container">
        <div class="content flex-column-center">
            <div id="options">
                <section class="container with-title">
                    <h2 class="title">Checkboxes</h2>
                    <label>
                        <input type="checkbox" class="checkbox" checked="">
                        <span>Enable</span>
                    </label>
                </section>
            </div>
            <button class="eightbit-btn eightbit-btn--primary" onclick="javascript:history.back()">Back</button>
        </div>
    </div>

    <% include ../partials/libs %>
</body>

</html>
