<!DOCTYPE html>
<html lang="en">

<head>
    <title>Cài đặt</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel=stylesheet href="core/libs/jquery-ui/jquery-ui.min.css" />
    <link rel="stylesheet" href="core/libs/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="core/libs/animate/animate.min.css">
    <link rel="stylesheet" href="core/libs/toastr.js/toastr.min.css">
    <link rel="stylesheet" href="core/libs/nes_css/nes.min.css">
    <link rel="stylesheet" href="core/styles/info.css">
    <link rel="stylesheet" href="core/styles/style.css">
</head>

<body>

    <div class="content-container">
        <div id="options" style="position: relative; width: 40vw;">
            <div class="note-board" style="width: 100%; height: 50vh; overflow-y: auto;">
                <div class="wrapper">
                    <input id="enableWebvr" name="webvr-mode" type="checkbox" value="webvr-mode">
                    <label for="enableWebvr">Sử dụng WebVR</label>
                </div>
                <div class="wrapper">
                    <input id="enableCameraChange" name="camera-mode" type="checkbox" value="camera-mode">
                    <label for="enableCameraChange">Cho phép thay đổi góc nhìn của Camera</label>
                </div>
                <button class="clip menu-button" id="option-clear-storage" data-target="#reset-dialog">Reset</button>
            </div>
            <button class="clip menu-button" id="option-save">Lưu</button>
            <button class="clip menu-button" onclick="javascript:history.back()">Trở về</button>
        </div>
        <div id="reset-dialog" class="center-div dialog">
            <div class="confirmation-popup">
                <div class="question">
                    <span>Bạn muốn reset?</span>
                </div>
                <div class="answers">
                    <button id="confirm-reset" class="clip menu-button">Có</button>
                    <button id="cancel-reset" class="clip menu-button">Không</button>
                </div>
            </div>
        </div>
    </div>

    <% include ../partials/libs %>
    <script>
        var gameOptions = localStorage.getObject("gameOptions") ? localStorage.getObject("gameOptions") : [];
        $(document).ready(function() {
            let mode = false, cameraMode = false, collisionMode = false;
            
            // enable webvr mode
            if( gameOptions.hasOwnProperty("enableWebvr") && gameOptions["enableWebvr"] ) {
                mode = true;
            }
            $("#enableWebvr").prop('checked', mode);
            
            // enable camera change mode
            if( gameOptions.hasOwnProperty("enableCameraChange") && gameOptions["enableCameraChange"] ) {
                cameraMode = true;
            }
            $("#enableCameraChange").prop('checked', cameraMode);
        
        });

        $("#option-save").click(function() {
            // enable webvr mode
            let mode = $("#enableWebvr").prop('checked');
            if(gameOptions.hasOwnProperty("enableWebvr")) {
                gameOptions["enableWebvr"] = mode;
            }
            else {
                gameOptions = Object.assign({ enableWebvr: mode }, gameOptions);
            }
            
            // enable camera change mode
            let cameraMode = $("#enableCameraChange").prop('checked');
            if(gameOptions.hasOwnProperty("enableCameraChange")) {
                gameOptions["enableCameraChange"] = cameraMode;
            }
            else {
                gameOptions = Object.assign({ enableCameraChange: cameraMode }, gameOptions);
            }
            
            // save to local storage
            localStorage.setObject("gameOptions", gameOptions);
        });

        $("#option-clear-storage").click(function() {
            $("#reset-dialog").css("display", "block");
        });

        $("#cancel-reset").click(() => {
            $("#reset-dialog").css("display", "none");
        });

        $("#confirm-reset").click(() => {
            localStorage.clear();
            window.location.reload();
        });
    </script>
</body>

</html>
