/* @font-face */
@font-face {
    font-family: 'AndesRoundedLight';
    src:    url('./fonts/AndesRoundedLight.eot'), /* IE9 Compat Modes */
            url('./fonts/AndesRoundedLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('./fonts/AndesRoundedLight.woff') format('woff'), /* Pretty Modern Browsers */
            url('./fonts/AndesRoundedLight.ttf')  format('truetype'), /* Safari, Android, iOS */
            url('./fonts/AndesRoundedLight.svg#AndesRoundedLight') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gentona-Bold';
    src:    url('./fonts/Gentona-Bold.eot'), /* IE9 Compat Modes */
            url('./fonts/Gentona-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('./fonts/Gentona-Bold.woff') format('woff'), /* Pretty Modern Browsers */
            url('./fonts/Gentona-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
            url('./fonts/Gentona-Bold.svg#Gentona-Bold') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fester-Bold';
    src:    url('./fonts/Fester-Bold.eot'), /* IE9 Compat Modes */
            url('./fonts/Fester-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('./fonts/Fester-Bold.woff') format('woff'), /* Pretty Modern Browsers */
            url('./fonts/Fester-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
            url('./fonts/Fester-Bold.svg#Fester-Bold') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-Neusa';
    src:    url('./fonts/SVN-Neusa.eot'), /* IE9 Compat Modes */
            url('./fonts/SVN-Neusa.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('./fonts/SVN-Neusa.woff') format('woff'), /* Pretty Modern Browsers */
            url('./fonts/SVN-Neusa.ttf')  format('truetype'), /* Safari, Android, iOS */
            url('./fonts/SVN-Neusa.svg#SVN-Neusa') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-Neusa_Bold';
    src:    url('./fonts/SVN-Neusa_Bold.eot'), /* IE9 Compat Modes */
            url('./fonts/SVN-Neusa_Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('./fonts/SVN-Neusa_Bold.woff') format('woff'), /* Pretty Modern Browsers */
            url('./fonts/SVN-Neusa_Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
            url('./fonts/SVN-Neusa_Bold.svg#SVN-Neusa_Bold') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

html, body {
    width: 100%;
    height: 100%;
}
body {
    background-color: #20292e;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'SVN-Neusa', Arial, sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

button {
    line-height: normal;
    font-size: 24px;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-star;
    align-items: stretch;
}
.flex-center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}
.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}
.flex-column-center {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.flex-column-center-center {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
h2 {
    color: #294548;
    text-align: center;
}

.menu-container {
    position: absolute; 
    top: 0; 
    background-color: transparent;
    height: 100%;
    right: 15%;
}

.content-container {
    font-size: 1.3em;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #5171a5;
}
.content-container .content {
    margin: 1em;
}
.content-container .content .item {
    font-size: 1.3em;
    cursor: pointer;
    background-color: #294548;
    border: 0.1em solid #0bd7d6;
    margin-top: 0.5em;
    padding: 0.4em 0;
    min-width: 18em;
    color: #0bd7d6;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0.5em;
    transition: all 0.2s linear;
    text-decoration: none;
}
.content-container .content .item:hover {
    background-color: #0bd7d6;
    border: 0.1em solid #294548;
    color: #294548;
    box-shadow: 0 0 0.2em rgba(255, 255, 255, 0.8);
}
hr {
    margin: 10px auto;
    max-width: 100px;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 0;
}
#infoButton {
    border-width: 0;
    cursor: pointer;
}
#blocker {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}
#loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0);
}
.loading-text {
    color: #ffffff;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}
.instructions {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    background-color: rgba(0,0,0,0.5);
}
#speed-gauge {
    min-width: 310px;
    max-width: 400px;
    height: 300px;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    transform: scale(.5);
}
.gauge-container {
    width: 100%;
    background-color: transparent;
}
.speed-container {
    padding: 20px;
}
.speed {
    min-width: 300px;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    border: solid 4px white;
    background-color: rgba(255, 255, 255, 0.5);
    font-family: 'Fester-Bold', Arial, Helvetica, sans-serif;
}
.speed > span {
    color: white;
    font-size: 20px;
}
.sign-detail-container {
    position: absolute;
    top: 0;
    bottom : 0;
    width: 100%;
    height: 100%;
}
.sign-detail {
    margin: auto;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sign-detail span {
    
    text-align: center;
}
.sign-detail img {
    border: 4px solid #000;
    max-height: 80vh;
}
.turn-signals {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: center;
}
.turn-signals > .right-signal > span, 
.turn-signals > .left-signal > span, 
.turn-signals > .headlight > span,
.turn-signals > .horn > span {
    color: white;
    font-size: 15px;
}
.left-signal, .right-signal, .headlight, .horn {
    margin: 5px;
}
.led {
    border-radius: 50%;
    background-color: #220000;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
    margin: 20px auto;
    border: 3px solid #222;
}
.led.active {
    background-color: #AA0000;
    box-shadow: 0px 0px 10px 5px rgba(255, 0, 0, 0.4);
    border: 3px solid rgba(120, 0, 0, 1);
}
.led.yellow.active {
    background-color:yellow;
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 0, 0.4);
    border: 3px solid rgb(156, 145, 43);
}
.led > .hilight {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    position: absolute;
    background-color: rgba(255,255,255,0.5);
    top: 7px;
    left: 7px;
    box-shadow: 3px 4px 7px 9px rgba(180, 0, 0, 0.6);
}
.led.yellow > .hilight {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    position: absolute;
    background-color: rgba(255,255,255,0.5);
    top: 7px;
    left: 7px;
    box-shadow: 3px 4px 7px 9px rgba(212, 183, 16, 0.6);
}
.led.active > .hilight {
    background-color: rgba(255,255,255,1);
    box-shadow: 4px 4px 6px 7px rgba(255, 0, 0, 1);
}
.led.yellow.active > .hilight {
    background-color: rgba(255,255,255,1);
    box-shadow: 4px 4px 6px 7px rgba(255, 255, 0, 1);
}

.center-div {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

#game-menu {
  width: 50vw;
  height: auto;
  max-height: 40vh;
  /* min-height: 50vh; */
  /* background-color: rgba(0, 0, 0, 0.5); */
  padding: 20px;
  text-decoration: none;
  color: white;
  /* border: 2px white solid; */
}

#main-menu {
    padding: 20px;
    text-decoration: none;
    color: white;
    display: flex; 
    flex-direction: column; 
    text-align: center; 
    justify-content: center;
    min-width: 200px;
    width: 400px;
}

.menu-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* align-items: center; */
    /* height: 100%; */
}

.level-details {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

button.menu-button {
    margin: 10px 0; width: 100%;
}

#controllers {
    display: none;
    font-family: 'Gentona-Bold', Arial, Helvetica, sans-serif;
}

.dialog {
    display: none;
    width: 50vw;
    /* height: 50vh; */
    /* height: 188px; */
    height: 250px;
}
.dialog-content {
    padding: 20px;
    background-color: cornflowerblue;
    width: 100%;
    height: 100%;
    /* height: fit-content;
    height: -moz-fit-content; */
    text-decoration: none;
    color: white;
    border: 4px black solid;
}

.dialog-content > .question {
    padding: 20px;
    margin-bottom: 20px;
}

.dialog-content > .question > span {
    font-size: 20px;
    
    color: #fff;
}

.dialog-content > .input-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.dialog-content > .input-box > label {
    font-size: 20px;
    
    color: #fff;
}
.dialog-content > .input-box > input {
    font-size: 20px;
    
    /* width: 100%; */
    border: 4px black solid;
    padding: 20px;
}

.lesson-container {
    visibility: hidden; 
    height: 0; 
    background-color: white; 
    width: 100%; 
    border: 4px black solid; 
    position: relative;
}

.lesson-container > .lesson-list {
    width: 40vw;
    display: flex; 
    min-height: 150px;
    flex-direction: column; 
    justify-content: space-around; 
    align-items: center; 
    padding-top: 30px;
}

.lesson-container > .lesson-list > a {
    padding: 10px;
    text-decoration: none;
}

.lesson-container > .lesson-list > a:hover {
    transform: scale(1.2);
}

.lesson-item {
    position: relative; display: flex; flex-direction: column; align-items: center;
    margin-bottom: 50px;
}
.lesson-item.top {
    margin-bottom: 80px;
}

.mini-map {
    /* width: 200px;
    height: 200px; */
    width: fit-content;
    width: -moz-fit-content;
    height: fit-content;
    height: -moz-fit-content;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #DCDCDC;
}
.mini-map:after {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    bottom: -3px;
    right: -3px;
    border: 1px #888 solid;
}

#player-pin {
    top: 20px;
    left: 20px;
}
.pin-holder {
    display: none;
    width: 20px;
    height: 20px;
    position: absolute;
}
  .pin-holder .map-pin {
    background-color: #0090dc;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    width: 12px;
    height: 12px;
    top: 4px;
    left: 4px;
    z-index: 20;
  }
  .pin-holder .map-pin.red {
    background-color: #f5002e;
  }
  .pin-holder .map-pin.orange {
    background-color: #ffa300;
  }
  .pin-holder .map-pin.green {
    background-color: #00893c;
  }
  .pin-holder .map-pin.blue {
    background-color: #0090dc;
  }
  .pin-holder .map-pin.gray {
    background-color: #676767;
  }
  .pin-holder .pin-pulse {
    background-color: #f5002e;
    -webkit-border-radius: 30px;
    height: 20px;
    width: 20px;
    position: absolute;
    /* left: 2px;
    top: 2px; */
    z-index: 10;
    -webkit-animation: pulsate 1.5s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0;
  }
  @-webkit-keyframes pulsate {
    0% {
      -webkit-transform: scale(0.1, 0.1);
      opacity: 0;
    }
    50% {
      opacity: 0.3;
    }
    100% {
      -webkit-transform: scale(1.5, 1.5);
      opacity: 0;
    }
  }

  .level-container {
    display: flex;
    flex-direction: column;
  }

  .level-info {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 25px;
    
    font-weight: 600;
  }
  .score {
      position: absolute;
      top: 10px;
      right: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
  }
  .health, .money {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 25px;
    
    font-weight: 600;
  }
  .health-number, .money-number {
    margin: 0 20px;
  }

  .toast {
    border: 4px black solid;
    background-color: cornflowerblue;
    font-family: "Gentona-Bold", cursive;
    border-radius: 0;    
    top: 60px;
  }

  .toast-error {
    background-color: #d9534f;
  }

  .floating-info {
      display: none;
      position: absolute;
      top: 100px;
      width: 100%;
      background-color: transparent;
  }
  .floating-info.shown {
    justify-content: center;
    display: flex;
  }
  .floating-info > span {
      text-align: center;
      font-family: "Gentona-Bold", cursive;
      font-size: 40px;
      color: red;
      -webkit-text-stroke: 2px #000;
          -webkit-text-stroke-width: 2px;
          -webkit-text-stroke-color: rgb(0, 0, 0);
      text-shadow:  3px 3px 0 #000, 
                    -1px -1px 0 #000, 
                    1px -1px 0 #000, 
                    -1px 1px 0 #000, 
                    1px 1px 0 #000;
  }

#restart-btn {
    display: none;   
}

.key-instruction-container {
    position: absolute;
    width: 50vw;
    height: 50vh;
    min-height: fit-content;
    min-height: -moz-fit-content;
}
.key-instruction-container table {
    width: 100%;
    border: 4px black solid;
    background-color: white;
}

.key-instruction-container td {
    padding: 5px 10px; 
    
}

.key-instruction-container td.key-name {
    text-align: center;
    color: tomato;
    font-size: 24px;
}

.key-instruction-container td.key-definition {
    text-align: left;
}

.key-instruction-container .key-instruction-btn {
    text-align: center;
}
.key-instruction-container .key-instruction-btn a {
    font-size: 16px;
}

.game-board-detail {
    font-family: 'AndesRoundedLight', Arial, sans-serif;
    padding: 5px; 
    margin: 15px 0; 
    border: 4px black solid; 
    background-color: white; 
}

.game-board-header {
    padding: 5px; border: 4px black solid; background-color: white;  text-align: center;
}

.game-board-button-container {
    display: flex; justify-content: space-around;
}

#showSignList {
    position: absolute;
    right: 10px;
    top: 0;
    border: none;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    background-color: white;
}

.container.with-title>.title {

    font-size: 20px;
    
}


.clip {
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'SVN-Neusa_Bold', Arial, sans-serif;
    appearance: none;
    position: relative;
    display: inline-block;
    min-width: 2.59815rem;
    height: 3rem;
    margin: auto;
    padding: 0.5rem 1.299rem;
    text-align: center;
    font-size: 1rem;
    line-height: 1rem;
    vertical-align: middle;
    color: #ffce00;
    cursor: pointer;
    border: none;
    background-color: rgba(0, 0, 0, .25);
    clip-path: polygon(0.866rem 0, calc(100% - 0.866rem) 0, 100% 50%, calc(100% - 0.866rem) 100%, 0.866rem 100%, 0 50%);
  }
  .clip::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: all .2s ease-in-out;
    clip-path: polygon(0 50%, 2px 50%, calc(0.866rem + 1px) 2px, calc(100% - 0.866rem - 1px) 2px, calc(100% - 2px) 50%, calc(100% - 0.866rem - 1px) calc(100% - 2px), calc(0.866rem + 1px) calc(100% - 2px), 2px 50%, 0 50%, 0 100%, 100% 100%, 100% 50%, 100% 0, 0 0);
  }
  .clip:hover {
    color: #123143;
    background-color: #ffce00;
    transform: scale(1.02);
  }
  
#showroom {
    background-color: transparent;
}
  
.showroom-container {
    position: relative;
    width: 100%;
    background-color: blue;
}

.note-board {
    clip-path: 
        polygon(
        0% 20px,                 /* top left */
        20px 0%,                 /* top left */
        calc(100% - 20px) 0%,    /* top right */
        100% 20px,               /* top right */
        100% calc(100% - 20px),  /* bottom right */
        calc(100% - 20px) 100%,  /* bottom right */
        20px 100%,               /* bottom left */
        0 calc(100% - 20px)      /* bottom left */
        );
    background-color: rgba(0, 0, 0, .25);
    border: none;
    padding: 20px;
    color: white;
    text-align: center;
}
.note-board > span {
    display: inherit;
}