<div id="blocker" class="screen-element">
    <div class="center-div dialog" id="game-menu">
        <div class="menu-item">
            <button id="start-btn" class="clip menu-button">Bắt đầu</button>
            <button onclick="javascript:history.go(0)" id="restart-btn" class="clip menu-button">Chơi lại</button>
            <button id="instruction-btn" class="clip menu-button">Hướng dẫn</button>
            <button class="clip menu-button" id="exit-btn" data-target="#exit-dialog">Thoát</button>
        </div>
    </div>
    <div id="exit-dialog" class="center-div dialog">
        <div class="confirmation-popup">
            <div class="question">
                <span>Bạn muốn thoát khi chưa hoàn thành bài học?</span>
            </div>
            <div class="answers">
                <button onclick="location.href = '/'" class="clip menu-button">Có</button>
                <button id="cancel-exit" class="clip menu-button">Không</button>
            </div>
        </div>
    </div>
    <div id="key-instruction" class="key-instruction-container center-div dialog">
        <table>
            <tr>
                <td class="key-name"><span>W/Up</span></td>
                <td class="key-definition"><span>Move Forward</span></td>
            </tr> 
            <tr>
                <td class="key-name"><span>A/Left</span></td>
                <td class="key-definition"><span>Rotate Left</span></td>
            <tr>
                <td class="key-name"><span>D/Right</span></td>
                <td class="key-definition"><span>Rotate Right</span></td>
            </tr>
            <tr>
                <td class="key-name"><span>Z</span></td>
                <td class="key-definition"><span>Keep Moving Forward</span></td>
            </tr>
            <tr>
                <td class="key-name"><span>X</span></td>
                <td class="key-definition"><span>Stop Moving</span></td>
            </tr>
            <tr>
                <td class="key-name"><span>Shift</span></td>
                <td class="key-definition"><span>Accelerate</span></td>
            </tr>
            <tr>
                <td colspan="2" class="key-name" style="color: brown"><b>Màn chơi kết thúc khi người chơi đi đến vùng màu xanh dương trên bản đồ. Qua màn thành công khi người chơi đi qua tất cả các check point trên bản đồ.</b></td>
            </tr>
            <tr>
                <td colspan="2" class="key-instruction-btn"><button id="instruction-close" class="clip menu-button">Đóng</button></td>
            </tr>
        </table>
    </div>
</div>