<div id="gameBoard" class="sign-detail-container center-div dialog screen-element">
    <div class="game-board-header">
        <span>Cấp độ <%= level %> - Bài <%= chapter %></span>
    </div>
    <div class="game-board-detail">
        <div style="position: relative;">
            <p>Số biển báo đã đi qua: <span id="passedSigns"></span></p>
            <button id="showSignList"><i class="fa fa-caret-down"></i></button>
        </div>
        <div id="signListContainer" style="display: none;"></div> 
        <div><p>Tổng tiền đã bị phạt: <span id="lostMoney"></span>K VNĐ</p></div>
        <div><p>Thời gian:  <span id="timeDiff"></span> giây</p></div>
    </div>
    <div>
        <button onclick="javascript:history.go(0)" class="clip menu-button">Chơi lại</button>
        <button onclick="location.href = '/'" class="clip menu-button">Thoát</button>
    </div>
</div>