<div id="gameBoard" class="sign-detail-container center-div dialog screen-element">
    <div style="padding: 5px; border: 6px black solid; background-color: white;  font-family: 'Press Start 2P', cursive; text-align: center;">
        <span>Chapter <%= chapter %></span>
    </div>
    <div style="padding: 5px; margin: 15px 0; border: 6px black solid; background-color: white; font-family: 'Press Start 2P', cursive;">
        <div><p>Number of signs you passed: <span id="passedSigns"></span></p></div>
        <div><p>Money you lost: <span id="lostMoney"></span></p></div>
        <div><p>Result: </p></div>
    </div>
    <div style="display: flex; justify-content: space-around;">
        <a href="javascript:history.go(0)" class="eightbit-btn eightbit-btn--small-size">Replay</a>
        <a href="/" class="eightbit-btn eightbit-btn--small-size eightbit-btn--reset">Exit</a>
    </div>
</div>