<div class="menu-container center" id="main-menu">
    <button onclick="location.href = '/levels'" class="clip menu-button">Bắt đầu</button>
    <button onclick="location.href = '/options'" class="clip menu-button">Cài đặt</button>
    <button onclick="location.href = '/instruction'" class="clip menu-button">Hướng dẫn</button>
    <button onclick="location.href = '/instruction'" class="clip menu-button">Thông tin</button>
</div>
<% include ../partials/libs %>