<div id="signDetail" class="sign-detail-container center-div dialog screen-element">
    <div class="sign-detail">
        <img id="signImg" src="" width="100%"/>
        <div style="padding: 5px; margin: 5px 0; border: 4px black solid; background-color: white;">
            <span>Nhấn phim SPACE để tắt chỉ dẫn</span>
        </div>
    </div>
</div>