<div id="signDetail" class="sign-detail-container center-div dialog">
    <div class="sign-detail">
        <img id="signImg" src="" width="100%"/>
        <div style="padding: 5px; margin: 5px 0; border: 6px black solid; background-color: white;">
            <span>Press SPACE to Close</span>
        </div>
    </div>
</div>